.contpag {
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
    
}

.container a{
    text-decoration: none;
    color: aliceblue;
}


.container Link{
    text-decoration: none;
    color: aliceblue;
}

.selectores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}
