@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Josefin+Sans:wght@700&family=Orbitron:wght@900&family=Roboto+Condensed:wght@300&family=Roboto:wght@400;700&display=swap');

/* font-family: 'Exo', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */



.container{
    display: flex;
    flex-direction: row;
}

.wrap{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: fit-content;
    padding: 2rem 3rem;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 5px 10px #222;
    backdrop-filter: blur(10px);
    justify-content: center;
  }

  .fusion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .fusion h1{
    font-family: 'Orbitron', sans-serif;
  }

  .leftCont{
    width: 350px;
  }

  .rightCont{
    width: 350px;
  }