@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Josefin+Sans:wght@700&family=Orbitron:wght@900&display=swap');
/* 
font-family: 'Exo', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Orbitron', sans-serif; */

.container{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, white, rgb(210, 217, 223));
    width: 100%;
    height: 150px;
    box-shadow: 0px 1px 35px black;
    justify-content: space-between;

}

.contA{
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;

}

.contA .menu1{
    color: black;
    border: 1px solid;
    border-color:silver;
    border-left: 0px;
    padding-top: 9px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 37px;
    background-color: none;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-justify: distribute;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px 12px 0px 0px;
}
.contA .menu1:hover{
    background: linear-gradient(to right, rgb(231, 197, 5), rgb(190, 163, 9));
    color: aliceblue;
}


.contA .menu2{
    color: black;
    border-color: silver;
    border: 1px solid silver;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    padding-top: 9px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 37px;
    background-color: none;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-justify: distribute;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px 0px 0px 0px;
}
.contA .menu2:hover{
    background: linear-gradient(to right, rgb(219, 187, 5), rgb(190, 163, 9));
    color: aliceblue;
}


.contA .menu3{
    color: black;
    border: 1px solid;
    border-color: silver;
    border-left: 0px;
    padding-top: 9px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 37px;
    background-color: none;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-justify: distribute;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px 0px 12px 0px;
}
.contA .menu3:hover{
    background: linear-gradient(to right, rgb(231, 197, 5), rgb(190, 163, 9));
    color: aliceblue;
}


.contA a{
    text-decoration: none;
    text-align: center;
    text-justify: distribute;
    cursor: pointer;
}


.contB{
    width: fit-content;
    height: 100%;
    justify-content: center;
    padding-top: 10px;
}

.contB .logo{
    height: 80%;
    align-items: center;
}

.contC{
    padding-top: 50px;
    padding-right: 350px;
}

.buscar{
    position: absolute;
    padding: 5px;
}

.buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}


.btnSearch{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 55px;   
    height: 55px;
    line-height: 55px;
    border: 2px solid silver;
    border-radius: 50%;
    cursor: pointer;
   
}
.imgSearch{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 12px;
    bottom: 0px;
    right: 13px;
}

